.header-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

.logo {
  background-image: url("./images/faberlic.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  // width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
