.top-line {
  background: $color-faberlic;
}
.phones {
  color: $color-text-faberlic-bg;
  padding: 5px;

  .mobile-op {
    line-height: $mobile-op-line-height;
    height: $mobile-op-line-height;
    font-size: 1rem;
    flex-grow: 1;
    // min-width: 33%;
    img {
      width: $mobile-op-brand-size;
      border: 1px solid $color-text-faberlic-bg;
      float: left;
    }
    &.beeline,
    &.megafon {
      img {
        border-radius: 50%;
        background-color: $color-text-faberlic-bg;
      }
    }
    &.mts {
      //   background-image: url("./images/mts.svg");
      img {
        border-radius: 4px;
        background-color: $color-text-faberlic-bg;
      }
    }
  }
  .phone-info {
    .small {
      font-size: 0.7rem;
    }
  }
}
