@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./css/colors";
@import "./css/vars";
@import "./css/mixins";
@import "./css/reset";
@import "./css/digits";

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05rem;
  @include gradient-bg($color-bg-start, $color-bg-end, bottom);
  background-attachment: fixed;
  overflow-x: hidden;
}
p {
  margin: 0.2rem;
}
.container {
  width: $container-width;
  margin: 0 auto;
}
.contet-wrapper {
  padding: $section-conent-padding;
}
@import "./css/header";

.d-fx {
  display: flex;
}
.d-fx-space-b {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.page {
  background-color: #fff;
}
.round-corner {
  border: $section-border-width solid $color-faberlic;
  border-radius: $border-radius;
}
.corner-tl {
  border-top-left-radius: 0;
}
.corner-tr {
  border-top-right-radius: 0;
}
.corner-bl {
  border-bottom-left-radius: 0;
}
.corner-br {
  border-bottom-right-radius: 0;
}
.connect-left {
  @extend .round-corner;
  @extend .corner-tl;
  @extend .corner-br;
}
.connect-right {
  @extend .round-corner;
  @extend .corner-tr;
  @extend .corner-bl;
}
.connect-left-end {
  @extend .round-corner;
  @extend .corner-tl;
}
.connect-right-end {
  @extend .round-corner;
  @extend .corner-tr;
}
.connector {
  display: block;
  height: $connector-height;
  &.connector-left {
    border-left: $section-border-width solid $color-faberlic;
  }
  &.connector-right {
    border-right: $section-border-width solid $color-faberlic;
  }
}
.btn {
  text-decoration: none;
  background: none;
  border: none;
  box-shadow: none;
  color: black;
  margin: 0;
  padding: 0;
  border: 1px solid darken($color-faberlic, 10%);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  &.btn-register {
    background-color: $color-faberlic;
    font-weight: 700;
    font-size: 1.2rem;
    color: $color-text-faberlic-bg;
    &:hover {
      background-color: darken($color-faberlic, 10%);
    }
    &:active {
      background-color: lighten($color-faberlic, 10%);
      transition: 100ms;
      line-height: 3.8rem;
    }
  }
}

@import "./css/caroucel";
@import "./css/phones";
@import "./css/infograph";
@import "./css/content";
@import "./css/footer";
@import "./css/menu";
@import "./css/mysign";
